

    <div class="content-container" id="income-expence-edit">
        <h1 class="main-title" id="main-title">Редактирование дохода/расхода</h1>
        <form id="income-expence-create-form" novalidate>
          <div class="mb-2">
            <select class="form-control" name="type" id="income-expence-type" required>
              <option value="" disabled selected>Тип...</option>
            </select>
          </div>
          <div class="mb-2">
            <select class="form-control" name="category" id="income-expence-category" required>
              <option value="" disabled selected>Категория...</option>
            </select>
          </div>
          <div class="mb-2">
            <input type="number" step="0.01" class="form-control" name="amount" id="income-expence-amount" placeholder="Сумма в $..." required>
            <div id="income-expence-amountFeedback" class="invalid-feedback text-start">
              Укажите сумму
            </div>
          </div>
            <div class="mb-2">
              <input type="text" class="form-control" name="date" placeholder="Дата" id="income-expence-date" required>
              <div id="income-expence-dateFeedback" class="invalid-feedback text-start">
                Укажите дату в формате YYYY-MM-DD
              </div>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" name="comment" placeholder="Комментарий..." id="income-expence-comment">
            </div>
            <div class="d-flex justify-content-start gap-2">
              <button class="btn btn-success" id="income-expence-create-button">Сохранить</button>
              <a href="incomes-expenses-list" class="btn btn-danger">Отмена</a>
            </div>
          </form>
        </div>
    </div>
