
      <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-body">
                <h5 class="modal-title" id="staticBackdropLabel">Вы действительно хотите удалить операцию?</h5>
              </div>
              <div class="modal-footer text-center">
                  <button type="button" class="btn btn-success" id="delete-confirm">Да, удалить</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
              </div>
            </div>
          </div>
      </div>
    <div class="content-container" id="dashboard">
        <h1 class="main-title" id="main-title">Доходы и расходы</h1>
        <div class="incomes-expenses-create-buttons">
            <a href="income-expense-create" class="btn btn-success me-2" id="create-incomes">Создать доход</a>
            <a href="income-expense-create" class="btn btn-danger" id="create-expenses">Создать расход</a>
        </div>
        <div class="day-nav d-flex align-items-center day-nav-expences-incomes">
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="today"> Сегодня</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="week"> Неделя</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="month"> Месяц</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="year"> Год</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="all"> Все</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="interval"> Интервал</btn>
            <div class="pagination-dates d-flex align-items-center">
              <div class="d-flex dates-input-container"> 
                <div class="d-flex date-input-container"> 
                  <label for="start-date" class="form-label mb-0">С</label>
                  <input type="text" id="start-date" class="form-control form-control-sm date-input ms-1" placeholder="Дата">
                </div>
                <div id="start-dateFeedback" class="invalid-feedback text-start ms-3">
                  YYYY-MM-DD
                </div>
              </div>
              <div class="d-flex dates-input-container ms-2"> 
                <div class="d-flex date-input-container">
                  <label for="end-date" class="form-label mb-0">по</label>
                  <input type="text" id="end-date" class="form-control form-control-sm date-input ms-3" placeholder="Дата">
                </div>
                <div id="end-dateFeedback" class="invalid-feedback text-start ms-5">
                  YYYY-MM-DD
                </div>
              </div>
            </div>
        </div>
        <div class="table-responsive" id="responsive-table-wrapper">

        </div>
      </div>
    </div>
