
    <div class="main-container d-flex"> 
        <div class="modal fade" id="modalDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-body">
                  <h5 class="modal-title" id="staticBackdropLabel">Вы действительно хотите удалить категорию? Связанные доходы будут удалены навсегда.</h5>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-success" id="delete-confirm">Да, удалить</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                </div>
              </div>
            </div>
         </div>
        <div class="content-container" id="incomes-list">
            <h1 class="main-title" id="main-title">Доходы</h1>
            <div class="cards-container d-flex" id="cards-income">

        </div>

        </div>
        </div>
   
