
    <div class="main-container d-flex"> 
    <div class="content-container" id="incomes-category-edit">
        <h1 class="main-title" id="main-title">Редактирование категории доходов</h1>
        <div class="category-create-form incomes-category-edit-form">
          <input type="text" id = "incomes-category-name" class="form-control" placeholder="Название" aria-label="Название">
        </div>
        <div id="incomes-category-nameFeedback" class="invalid-feedback text-start">
            Заполните название
        </div>
        <div class="income-create-buttons">
          <button class="btn btn-success me-2" id = "incomes-category-edit-button">Сохранить</button>
          <a href="incomes-list" class="btn btn-danger">Отмена</a>
        </div>
    </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
          const toggleBtn = document.getElementById('sidebarToggle');
          const toolbar = document.querySelector('.toolbar');
      
          toggleBtn.addEventListener('click', function () {
            toolbar.classList.toggle('show');
            });
    
        const closeBtn = document.getElementById('sidebarClose');
        closeBtn.addEventListener('click', function () {
        toolbar.classList.remove('show');
    
            });
        })
      </script>
