
        <div class="content-container" id="main">
            <h1 class="main-title" id="main-title">Главная</h1>
            <div class="day-nav d-flex align-items-center day-nav-expences-incomes">
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="today"> Сегодня</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="week"> Неделя</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="month"> Месяц</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="year"> Год</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="all"> Все</btn>
            <btn class="btn btn-outline-secondary btn-pagination me-3" data-range="interval"> Интервал</btn>
            <div class="pagination-dates align-items-center">
              <div class="d-flex dates-input-container"> 
                <div class="d-flex date-input-container"> 
                  <label for="start-date" class="form-label mb-0">С</label>
                  <input type="text" id="start-date" class="form-control form-control-sm date-input ms-1" placeholder="Дата">
                </div>
                <div id="start-dateFeedback" class="invalid-feedback text-start ms-3">
                  YYYY-MM-DD
                </div>
              </div>
              <div class="d-flex dates-input-container ms-2"> 
                <div class="d-flex date-input-container">
                  <label for="end-date" class="form-label mb-0">по</label>
                  <input type="text" id="end-date" class="form-control form-control-sm date-input ms-3" placeholder="Дата">
                </div>
                <div id="end-dateFeedback" class="invalid-feedback text-start ms-5">
                  YYYY-MM-DD
                </div>
              </div>
            </div>
        </div>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <div class="chart-container">
                        <div class="card-body">
                            <canvas id="incomeChart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-auto d-flex align-items-center divider-container">
                    <div class="divider m-5"></div>
                </div>
                <div class="col-auto">
                    <div class="chart-container">
                        <div class="card-body">
                            <canvas id="outcomeChart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

