
    <div class="main-container d-flex"> 
    <div class="content-container" id="expenses-category-create">
        <h1 class="main-title" id="main-title">Создание категории расходов</h1>
        <div class="category-create-form expenses-category-create-form">
          <input type="text" id="expenses-category-name" class="form-control" placeholder="Название" aria-label="Название">
        </div>
        <div id="expenses-category-nameFeedback" class="invalid-feedback text-start">
            Заполните название
        </div>
        <div class="income-category-create-buttons expenses-category-create-buttons">
          <button class="btn btn-success me-2" id="expenses-category-create-button">Создать</button>
          <a href="expenses-list" class="btn btn-danger">Отмена</a>
        </div>
    </div>
    </div>

